<div>
	<header class="bar bar-nav">
	  <h3 class="title">用户绑定</h3>
  </header>
  <div class="content">
	  <form class="input-group"> 
		  <input type="text" placeholder="姓名" />
		  <input type="number" placeholder="身份证号" />
		  <input type="text" placeholder="联系电话" />
		  <textarea rows="3" placeholder="家庭住址"></textarea> 
			<ul class="table-view">
				<li class="table-view-cell">身份证正面<button class="btn btn-positive">上传正面</button></li>
				<li class="table-view-cell">身份证反面<button class="btn btn-positive">上传反面</button></li>
			</ul>
		  <button class="btn btn-positive btn-block">提交</button>
	  </form>
  </div>
</div>
