<div class="content">
  <div>
		<img src="http://o7x3vuah6.bkt.clouddn.com/title_zhu.jpeg" style="width: 100%" />
	</div>

	<div>
    <ul class="mainmenu">
	    <li><a href="/" ><b><img src="http://o7x3vuah6.bkt.clouddn.com/tb01.png" /></b><span>关于我们</span></a></li>
	    <li><a href="/" ><b><img src="http://o7x3vuah6.bkt.clouddn.com/tb02.png" /></b><span>新闻中心</span></a></li>
	    <li><a href="/" ><b><img src="http://o7x3vuah6.bkt.clouddn.com/tb03.png" /></b><span>优惠活动</span></a></li>
	    <li><a href="/" ><b><img src="http://o7x3vuah6.bkt.clouddn.com/tb04.png" /></b><span>申请贷款</span></a></li>
	    <li><a href="/" ><b><img src="http://o7x3vuah6.bkt.clouddn.com/tb05.png" /></b><span>还款信息</span></a></li>
	    <li><a href="/" ><b><img src="http://o7x3vuah6.bkt.clouddn.com/tb06.png" /></b><span>个人信息</span></a></li>
	    <li><a href="/" ><b><img src="http://o7x3vuah6.bkt.clouddn.com/tb06.png" /></b><span>人才招聘</span></a></li>
	    <li><a href="/" ><b><img src="http://o7x3vuah6.bkt.clouddn.com/tb07.png" /></b><span>联系我们</span></a></li>
    	<li><a href="/" ><b><img src="http://o7x3vuah6.bkt.clouddn.com/tb08.png" /></b><span>在线留言</span></a></li>     	 
    </ul>
  </div>
</div>
<div class="bar bar-standard bar-footer">
	<div class="copyright">
	<span>恒隆小额贷款公众号</span>
	<br>
	<span>powered by afeil.com</span>
	</div>
</div>
